@font-face {
  font-family: 'HOMM2 Big';
  src: url('/fonts/homm2-big.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'HOMM2 Small';
  src: url('/fonts/homm2-small.ttf') format('truetype');
  font-display: swap;
}
